@model ysamedia.Entities.ChurchMember

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChurchMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateRegistered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateRegistered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumDepInPreSchool)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumDepInPreSchool)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumDepInPrimary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumDepInPrimary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumDepInHighSchool)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumDepInHighSchool)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumDepInTertiary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumDepInTertiary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerToQ1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerToQ1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerToQ2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerToQ2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerToQ3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerToQ3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerToQ4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerToQ4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerToQ5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerToQ5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnswerToQ6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerToQ6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgeGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgeGroup.AgeRange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender.Gname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Occupation.Occupation1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Relationship.RelationshipCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ChurchMemberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
