@model IEnumerable<ysamedia.Entities.ChurchMember>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/css/jquery-ui.min.css" rel="stylesheet" />
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-ui.js"></script>

<script type="text/javascript">
    $(function () {

        $("#txtSearch").autocomplete({

            source: '@Url.Action("GetMembers")'
        });
    });
</script>*@

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    @using (Html.BeginForm("Index", "ChurchMembers", FormMethod.Get))
    {
        <b>Search By: </b> @Html.RadioButton("searchBy", "Name", true) <text>Name</text>
        @Html.RadioButton("searchBy", "Gender") <text>Gender</text><br />
        @Html.TextBox("search") <input type="submit" value="Search" />
    }
</p>
@*<p>
    @using (Html.BeginForm())
    {
        <b>Name: </b>
        @Html.TextBox("search", null, new { id = "txtSearch" })
        <input type="submit" value="Search" />
    }
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegistered)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="5">
                    Sorry! No Records Match The Search Criteria.
                </td>
            </tr>
        }
        else
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CellPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRegistered)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ChurchMemberId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ChurchMemberId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ChurchMemberId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
