@model ICollection<ysamedia.Entities.TblUser>

@{
    ViewData["Title"] = "Log - " + ViewBag.TheDate;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<br />
<h2>@Model.ToList().Count - @ViewBag.TheCategory</h2>
<br />
@foreach (var item in Model)
{       
    <dl>
        <dt><b>Name :</b></dt>
        <dd>@item.DisplayName</dd>
    </dl>   
    <hr />
}

<h3>Date: @ViewBag.TheDate</h3>






