@model ysamedia.Models.UserManagementViewModels.UserManagementIndexViewModel

<table>
    <thead>
        <th>First Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Options</th>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.Surname</td>
                <td>@user.Email</td>
                @*<td>@user.Roles</td>*@
                <td><a asp-controller="UserManagement" asp-action="AddRole" asp-route-id="@user.Id">Add Role</a></td>
            </tr>
        }        
    </tbody>
</table>