@model ysamedia.Entities.Language

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Language</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Language1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proficiency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proficiency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrimaryLanguage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaryLanguage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LanguageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
