@model ysamedia.Models.DepartmentViewModels.DepartmentViewModel

@{
    ViewData["Title"] = "Delete Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this Department?</h3>
<div>   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumMembers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumMembers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentLead)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentLead)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deputy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deputy)
        </dd>        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
