@model RegisterViewModel
@{
    ViewData["Title"] = "User Register";
}

<div class="row register-form">
    <div class="col-md-8 col-md-offset-2">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal custom-form">
            <h1>User Registration</h1>
            <div class="form-group">
                <div class="col-sm-4 label-column">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-sm-6 input-column">
                    <input asp-for="Name" class="form-control" maxlength="50" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 label-column">
                    <label asp-for="Surname"></label>
                </div>
                <div class="col-sm-6 input-column">
                    <input asp-for="Surname" class="form-control" maxlength="50" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 label-column">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-sm-6 input-column">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 label-column">
                    <label asp-for="GenderId"></label>
                </div>
                <div class="col-sm-6 input-column">
                    <select asp-for="GenderId"
                            class="form-control"
                            asp-items="@(new SelectList(ViewBag.ListOfGenders, "GenderId", "Gname"))">
                        <option value="" hidden disabled selected>Please select</option>
                    </select>
                    <span asp-validation-for="GenderId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 label-column">
                    <label asp-for="Password"></label>
                </div>
                <div class="col-sm-6 input-column">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 label-column">
                    <label asp-for="ConfirmPassword"></label>
                </div>
                <div class="col-sm-6 input-column">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 label-column">
                    <label asp-for="DateOfBirth"></label>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm-3 input-column">
                        <select asp-for="Day"
                                class="form-control"
                                asp-items="@(new SelectList(ViewBag.ListOfDays, "DayId", "DayNum"))">
                            <option value="" hidden disabled selected>Day</option>
                        </select>
                        <span asp-validation-for="Day" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3 input-column">
                        <select asp-for="Month"
                                class="form-control"
                                asp-items="@(new SelectList(ViewBag.ListOfMonths, "MonthId", "Name"))">
                            <option value="" hidden disabled selected>Month</option>
                        </select>
                        <span asp-validation-for="Month" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3 input-column">
                        <select asp-for="Year"
                                class="form-control"
                                asp-items="@(new SelectList(ViewBag.ListOfYears, "YearId", "YearNum"))">
                            <option value="" hidden disabled selected>Year</option>
                        </select>
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button class="btn btn-default submit-button" type="submit">Submit Form</button>          
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
