@model RegisterViewModel
@{
    ViewData["Title"] = "Sign Up";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>YSM MEDIA - @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="ysa media user management web app" name="description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- App css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/js/modernizr.min.js"></script>

    @*<style>
        .accountbg {
            background-image: url('@Url.Content("~/images/bg.jpg")');
            background-size: cover;
            background-repeat: repeat-y;
        }
    </style>*@

</head>

<body class="account-pages">
    <!-- Begin page -->
    <div class="accountbg" style="background: url('@Url.Content("~/images/bg.jpg")');background-size: cover;"></div>
    <div class="wrapper-page account-page-full">
        <div class="card">
            <div class="card-block">
                <div class="account-box">
                    <div class="card-box p-5">
                        <h2 class="text-uppercase text-center pb-4">
                            <a href="index.html" class="text-success">
                                @ViewData["Title"]
                            </a>
                        </h2>

                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" class="form-horizontal" method="post">
                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label asp-for="Name"></label>
                                    <input asp-for="Name" class="form-control" id="username" required="" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label asp-for="Surname"></label>
                                    <input asp-for="Surname" class="form-control" id="username" required="" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" type="email" id="emailaddress" required="">
                                </div>
                            </div>
                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label asp-for="GenderId"></label>
                                </div>
                                <div class="col-12">
                                    <select asp-for="GenderId"
                                            class="form-control" required=""
                                            asp-items="@(new SelectList(ViewBag.ListOfGenders, "GenderId", "Gname"))">
                                        <option value="" hidden disabled selected>Please select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" type="password" required="" id="password">
                                </div>
                            </div>
                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" type="password" required="" id="password">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>                            
                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label asp-for="DateOfBirth"></label>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <select asp-for="Day"
                                                class="form-control" required=""
                                                asp-items="@(new SelectList(ViewBag.ListOfDays, "DayId", "DayNum"))">
                                            <option value="" hidden disabled selected>Day</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select asp-for="Month"
                                                class="form-control" required=""
                                                asp-items="@(new SelectList(ViewBag.ListOfMonths, "MonthId", "Name"))">
                                            <option value="" hidden disabled selected>Month</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select asp-for="Year"
                                                class="form-control" required=""
                                                asp-items="@(new SelectList(ViewBag.ListOfYears, "YearId", "YearNum"))">
                                            <option value="" hidden disabled selected>Year</option>
                                        </select>
                                    </div>
                                </div>
                            </div>                           
                            <br/>
                            <div class="form-group row text-center m-t-10">
                                <div class="col-12">
                                    <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Sign Up</button>
                                </div>
                            </div>
                        </form>
                        <div class="row m-t-50">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">Already have an account?  <a asp-controller="Account" asp-action="Login" class="text-dark m-l-5"><b>Sign In</b></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-t-40 text-center">
            <p class="account-copyright">2018 © YSA MEDIA.</p>
        </div>
    </div>

    <!-- jQuery  -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <!-- App js -->
    <script src="~/js/jquery.core.js"></script>
    <script src="~/js/jquery.app.js"></script>
</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}



@*<div class="row register-form">
        <div class="col-md-8 col-md-offset-2">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal custom-form">
                <h1>User Registration</h1>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input asp-for="Name" class="form-control" maxlength="50" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label asp-for="Surname"></label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input asp-for="Surname" class="form-control" maxlength="50" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label asp-for="GenderId"></label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <select asp-for="GenderId"
                                class="form-control"
                                asp-items="@(new SelectList(ViewBag.ListOfGenders, "GenderId", "Gname"))">
                            <option value="" hidden disabled selected>Please select</option>
                        </select>
                        <span asp-validation-for="GenderId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <div class="col-sm-6 input-column">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label asp-for="DateOfBirth"></label>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-3 input-column">
                            <select asp-for="Day"
                                    class="form-control"
                                    asp-items="@(new SelectList(ViewBag.ListOfDays, "DayId", "DayNum"))">
                                <option value="" hidden disabled selected>Day</option>
                            </select>
                            <span asp-validation-for="Day" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-3 input-column">
                            <select asp-for="Month"
                                    class="form-control"
                                    asp-items="@(new SelectList(ViewBag.ListOfMonths, "MonthId", "Name"))">
                                <option value="" hidden disabled selected>Month</option>
                            </select>
                            <span asp-validation-for="Month" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-3 input-column">
                            <select asp-for="Year"
                                    class="form-control"
                                    asp-items="@(new SelectList(ViewBag.ListOfYears, "YearId", "YearNum"))">
                                <option value="" hidden disabled selected>Year</option>
                            </select>
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-default submit-button" type="submit">Submit Form</button>
            </form>
        </div>
    </div>*@


